.allusers{
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
    width: 200px;
    background-color: rgb(245, 248, 247);
}

.userdiv{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;
    background-color: rgb(227, 228, 227);
    gap: 10px;
}